.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 24px;
}

.gallery-image {
  width: 360px;
  height: 200px;
  transition: transform 0.5s ease;
}

.gallery-image:hover {
  transform: scale(1.1);
}

/*forma*/

.inp {
  width: 360px;
  height: 40px;
  margin-top: 8px;
}

.txta {
  width: 360px;
  height: 80px;
  margin-top: 8px;
}

.feedback-form {
  width: 360px;
  height: 40px;
  margin: 0 auto;
}

.feedback-form label {
  display: block;
  margin-bottom: 8px;
}

.feedback-form input,
.feedback-form textarea {
  border: 1px solid #808080;
  border-radius: 4px;
  resize: none;
}

.feedback-form textarea:hover {
  border: 1px solid #000000;
}

.feedback-form input:hover {
  border: 1px solid #000000;
}

.feedback-form button {
  width: 95px;
  height: 40px;
  padding: 8px 16px;
  background: #4E75FF;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.feedback-form button:hover {
  background-color: #6C8CFF;;
}